* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    color: white;
    min-height: 100%;
}

.grid-container{
    border-radius: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/card1.jpg);
    background-size: cover;
}

.navbar {
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 245, 238);
}

.navbar>* {
    width: 30%;
    height: 100px;
    border-radius: 5px;
    border-style: solid;
    border-color: aquamarine;
}

.main {
    grid-area: main;
    background-image: url(/img/card2.jpg);
    background-size: cover;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 238);
}

.sidebar > * {
    width: 50%;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-color: aquamarine;
}

.footer {
    grid-area: footer;
    background-color: rgb(245, 245, 238);
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 45vh;
    grid-template-rows: 100px 300px 150px 200px;
    grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer";
}

.new-event {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-event {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media (min-width: 600px) {
    .grid-container {
        background-color: rgb(230, 248, 242);
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 80px auto 100px;
        grid-template-areas:
            "header header"
            "navbar navbar"
            "sidebar main"
            "footer footer";
    }
}

@media (min-width: 900px) {
    .grid-container {
        background-color: rgb(224, 240, 235);
        grid-template-columns: 100px auto 200px;
        grid-template-rows: 300px auto 100px;
        grid-template-areas:
            "header header header"
            "navbar main sidebar"
            "footer footer footer";
    }
}













/* h1 {
    font-size: 2em;
}

body {
    display: grid;    
}

header {
    width: 90vw;
    height: 10vh;
    border-radius: 1vh;
    background-image: url(../img/card2.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 3%;
    color: white;
    font-size: x-large;
}

.Container_Invitaciones {
    width: 90vw;
    height: 40vh;
    border-radius: 1vh;
    background-image: url(../img/card1.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 3%;
    display: grid;
}

.Container_Gestion_Evento {
    width: 90vw;
    height: 25vh;
    border-radius: 1vh;
    background-image: url(../img/card2.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 3%;
    display: flex;
}

.Container_Administrar_Perfil {
    width: 90vw;
    height: 25vh;
    border-radius: 1vh;
    background: linear-gradient(#eef3e5, #a1ce86);
    margin: auto;
    margin-top: 3%;
    display: flex;
}

.Card_Invitaciones {
    width: 90%;
    height: 90%;
    border-radius: 1vh;
    margin: auto;
    margin-top: 30px;
}

.Card_Invitaciones>ul {
    color: white;
    background-color: #473f3fc5;
    box-shadow: 10px;
    border-radius: 2vh;
}

.Card_Invitaciones>ul li {
    padding: 10px;
}

.Card_Nuevo_Evento {
    width: 50%;
    height: 90%;
    border-radius: 1vh;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.Card_Editar_Evento {
    width: 50%;
    height: 90%;
    border-radius: 1vh;
    background-image: url(../img/card3.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.Card_Amigos {
    width: 50%;
    height: 90%;
    border-radius: 1vh;
    background: linear-gradient(#eef3e5, #a1ce86);
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.Card_Perfil {
    width: 50%;
    height: 90%;
    border-radius: 1vh;
    background: linear-gradient(#eef3e5, #a1ce86);
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
} */