*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
border-radius: 4px;
}

.header{
    grid-area: header;
    background-color: rgb(171, 171, 226);
}
.navbar{
    grid-area: navbar;
    background-color: rgb(171, 171, 226);
}
.main{
    grid-area: main;
    background-color: rgb(171, 171, 226);
}
.sidebar{
    grid-area: sidebar;
    background-color: rgb(171, 171, 226);
}
.footer{
    grid-area: footer;
    background-color: rgb(171, 171, 226);
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer";
}

@media (min-width: 600px){
    .grid-container{
        background-color: aquamarine;
        grid-template: 
        "header header" 100px
        "navbar navbar" 50px
        "sidebar main" auto
        "footer footer"100px;

        
    }
}

@media (min-width: 900px){
    .grid-container{
        background-color: aquamarine;
        grid-template-areas: 
        "header header header"
        "navbar main main"
        "navbar main main"
        "footer footer";
    }
}













/* h1 {
    font-size: 2em;
}

body {
    display: grid;    
}

header {
    width: 90vw;
    height: 10vh;
    border-radius: 1vh;
    background-image: url(../img/card2.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 3%;
    color: white;
    font-size: x-large;
}

.Container_Invitaciones {
    width: 90vw;
    height: 40vh;
    border-radius: 1vh;
    background-image: url(../img/card1.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 3%;
    display: grid;
}

.Container_Gestion_Evento {
    width: 90vw;
    height: 25vh;
    border-radius: 1vh;
    background-image: url(../img/card2.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 3%;
    display: flex;
}

.Container_Administrar_Perfil {
    width: 90vw;
    height: 25vh;
    border-radius: 1vh;
    background: linear-gradient(#eef3e5, #a1ce86);
    margin: auto;
    margin-top: 3%;
    display: flex;
}

.Card_Invitaciones {
    width: 90%;
    height: 90%;
    border-radius: 1vh;
    margin: auto;
    margin-top: 30px;
}

.Card_Invitaciones>ul {
    color: white;
    background-color: #473f3fc5;
    box-shadow: 10px;
    border-radius: 2vh;
}

.Card_Invitaciones>ul li {
    padding: 10px;
}

.Card_Nuevo_Evento {
    width: 50%;
    height: 90%;
    border-radius: 1vh;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.Card_Editar_Evento {
    width: 50%;
    height: 90%;
    border-radius: 1vh;
    background-image: url(../img/card3.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.Card_Amigos {
    width: 50%;
    height: 90%;
    border-radius: 1vh;
    background: linear-gradient(#eef3e5, #a1ce86);
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.Card_Perfil {
    width: 50%;
    height: 90%;
    border-radius: 1vh;
    background: linear-gradient(#eef3e5, #a1ce86);
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
} */